.cardLider
    background-color: #ffe58f
    height: 10rem
    border-radius: 1rem
    margin: 1rem

.cardDiagram
    background-color: #ffe58f
    height: 10rem
    border-radius: 1rem
    margin: 1rem
