.container
    min-height: 100vh

.header
    display: flex
    color: #fafafa
    align-items: center

    h1
        color: #fafafa
        font-size: 20pt
        margin: 0 9rem
    
.logo
    color: #fafafa
    font-size: 30pt

.wrapper
    margin: 1rem

.teamTitle
    margin: 1rem

.details
    height: 40rem
    background-color: #d9d9d9
    padding: 4rem 3rem